/* entire web page */
body {
    background-color: #E59801;
}

.nav-link-yellow {
    color: var(--yellow);
}

/* Mobile*/
@media (min-width: 350px) {
    :root {
        /* Article title */
        --typography-h1: 5rem;
        --h1-line-height: 4rem;
        --h1-margin: 4rem;

        /* Author & OG article layout */
        --author-padding-top: 10rem;
        --author-padding-bottom: 2rem;
        --author-margin-top: -7.5rem;
    }

    /* Author & OG article size */
    .author {
        max-width: 80vw;
    }
}

@media (min-width: 500px) {
    :root {
        /* Article title */
        --typography-h1: 6.5rem;
        --h1-line-height: 5rem;
    }
}

@media (min-width: 630px) {
    :root {
        /* Article title */
        --typography-h1: 7rem;
        --h1-line-height: 5rem;

        /* Author & OG article layout */
        --author-padding-top: 11rem;
        --author-padding-bottom: 2rem;
        --author-margin-top: -7.5rem;
   }

   h1 {
        max-width: 100vw;
   }

    article {
        margin-left: 30vw;
    }
}

@media (min-width: 800px) {   
    :root {
        /* Article title */
        --typography-h1: 7rem;
        --h1-line-height: 6rem;

        /* Author & OG article layout */
        --author-padding-top: 12rem;
        --author-padding-bottom: 2rem;
        --author-margin-top: -9rem;
   } 

   h1 {
        max-width: 80vw;
   } 

   article {
        margin-left: 30vw;
    }
}

@media (min-width: 960px) {
    :root {
        /* Article title */
        --typography-h1: 8rem;
        --h1-line-height: 7rem;

        /* Author & OG article layout */
        --author-padding-top: 12rem;
        --author-padding-bottom: 2rem;
        --author-margin-top: -9rem;
    }

    h1 {
        max-width: 80vw;
    }
}

@media (min-width: 1200px) {
    :root {
        --typography-h1: 10rem;
        --h1-line-height: 8rem;

        /* Author & OG article layout */
        --author-padding-top: 9rem;
        --author-padding-bottom: 2rem;
        --author-margin-top: -5rem;
        
    }

    h1 {
        max-width: 100vw;
    } 

    article {
        margin-left: 40vw;
    }
}