/* entire web page */
body {
    background-color: #E59801;
}

/* Mobile*/
@media (min-width: 350px) {
    :root {
        /* Article title */
        --typography-h1: 5rem;
        --typography-h1-line-height: 7rem;
    }

    /* Author's name & publishing date */
    .author {
        padding-top: calc(12 * var(--margin));
        padding-bottom: var(--margin);
        padding-left: var(--margin);
        margin-top: calc(-15 * var(--gutter));
        max-width: 80vw;
    }
}

@media (min-width: 500px) {
    :root {
        /* Article title */
        --typography-h1: 6.5rem;
        --typography-h1-line-height: 6rem;
    }

    .author {
        padding-top: calc(7 * var(--margin));
        padding-left: calc(1.3 * var(--margin));
        margin-top: calc(-9 * var(--gutter));
    }
}

@media (min-width: 630px) {
    :root {
        /* Article title */
        --typography-h1: 7rem;
        --typography-h1-line-height: 5rem;
   }

   h1 {
        max-width: 100vw;
   }
    
    .author {
        padding-top: calc(8 * var(--margin));
        padding-bottom: var(--margin);
        padding-left: calc(1 * var(--margin));
        margin-top: calc(-9 * var(--gutter));
    }

    article {
        margin-left: 30vw;
    }

    h2 {
        max-width: 60vw;
    }
}

@media (min-width: 800px) {   
    :root {
        /* Article title */
        --typography-h1: 8rem;
        --typography-h1-line-height: 6rem;
   } 

    article {
        margin-left: 30vw;
    }
}

@media (min-width: 960px) {
    :root {
        --typography-h1: 10rem;
        --typography-h1-line-height: 7rem;
    }
    
    .author {
        padding-top: calc(7 * var(--margin));
        padding-left: calc(1 * var(--margin));
        margin-top: calc(-8 * var(--gutter));
    }
}

@media (min-width: 1200px) {
    :root {
        --typography-h1: 10rem;
        --typography-h1-line-height: 9rem;
    }

    .author {
        padding-top: calc(10 * var(--margin));
        padding-left: calc(1 * var(--margin));
        margin-top: calc(-12 * var(--gutter));
    }

    article {
        margin-left: 50vw;
    }

    h2 {
        max-width: 40vw;
    }
}