/* 'IBM Plex Mono', monospace */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* 'Lora', serif */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

/* 'Archivo', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');

/* 'Crimson Pro', serif; */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* 'Hanken Grotesk', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 'Playfair Display SC', serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

:root {
    --typography-base: 1rem;

    --typography-nav: calc(1.3 * var(--typography-base));
    --typography-h1: calc(9.5 * var(--typography-base)); /* article title */
    --typography-h2: calc(2 * var(--typography-base)); /*chapter title */
    --typography-h3: calc(1.5 * var(--typography-base)); /*chapter number*/
    --typography-blockquote: calc(1.5 * var(--typography-base)); /*blockquote*/
    --typography-blockquote-white: calc(4 * var(--typography-base)); /*blockquote*/
    --typography-a: calc(1.5 * var(--typography-base)); /* nav links */
    --typography-footerp: calc(0.8 *var(--typography-base));

    --gutter: var(--typography-base);
    --margin: calc(1.5 * var(--typography-base));
    --nav-space: var(--typography-nav)
}

/* Mobile*/
@media (min-width: 375px) {
    main {
        margin-bottom: calc(2* var(--margin));
    }
    
    article {
        padding-top: var(--margin);
        padding-bottom: var(--margin);
        margin-top: calc(3 * var(--margin));
        margin-bottom: calc(2* var(--margin));
        border: 2px black;
        border-style: solid;
    }

    .title {
        margin-left: var(--margin);
        margin-right: var(--margin);
    }
    
    h2 {
        font-size: var(--typography-h2);
        line-height: var(--typography-h2);
        max-width: 80vw;
        padding-top: var(--gutter);
        padding-bottom: var(--gutter);
        padding-left: calc(2 * var(--gutter));
        padding-right: var(--gutter);
        margin-top: var(--typography-h2);
        margin-left: calc(-1.5 * var(--gutter));
        margin-bottom: var(--typography-h2);
    }

    blockquote {
        line-height: calc(-0.5 * var(--gutter));
        margin-bottom: calc(2 * var(--typography-blockquote));
    }

    blockquote > p {
        padding-top: calc(1 * var(--gutter));
        padding-bottom: calc(0.5 * var(--gutter));
        margin-right: calc(-2 * var(--gutter));
    }

    .black {
        font-size: var(--typography-blockquote);
        padding-left: var(--gutter);
        max-width: 70vw;
    }
    
    .white {
        font-size: var(--typography-blockquote-white);
        color: white;
        margin-bottom: calc(-8 * var(--typography-blockquote));
        line-height: var(--typography-blockquote-white);
    }

    p {
        font-size: var(--typography-base);
        line-height: calc(2 * var(--typography-base));
        margin-left: var(--margin);
        margin-right: var(--margin);
    }

    .embed-link {
        font-size: var(--typography-a);
    }
}

@media (min-width: 500px) {
    h2 {
        max-width: 80vw;
    }

    blockquote {
        max-width: 70vw;
    }

    blockquote > p {
        font-size: calc(1 * var(--typography-blockquote));
        line-height: calc(1.3 * var(--typography-blockquote));
    }

    p {
        font-size: calc(1.1 * var(--typography-base));
        line-height: calc(1.7 * var(--typography-base));
    }
}

@media (min-width: 800px) {
    body {
        display: flex;
        justify-content: center;
    }

    article {
        max-width: 60vw;
    }

    blockquote {
        max-width: 80vw;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin-top: calc(2 * var(--margin));
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    padding-left: var(--margin); 
    padding-right: var(--margin); 
    background-color: white;
}

/* Home button in nav */
.home {
    display: inline;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: var(--typography-nav);
}

/* Styles in home button */
.times-small {
    font-family: 'Times New Roman', serif;
    font-size: calc(1.5 * var(--typography-base));
    font-weight: 500;
    text-transform: lowercase;
    font-style: italic;
}

.play-small {
    font-family: 'Playfair Display SC', serif;
    font-size: calc(1.5 * var(--typography-base));
    font-weight: 400;
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
    /*margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;*/
}

ul li {
    display: inline;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: var(--typography-nav);
    padding-left: var(--nav-space);
}

a {
    color: black;
}

ul li:nth-child(1):active {
    color: #F13028;
}

ul li:nth-child(2):active {
    color: #E59801;
}

ul li:nth-child(3):active {
    color: #0A95FB;
}

.top-button {
    font-family: 'IBM Plex Mono', monospace;
    background: black;
    /* Referenced code from Stack Overflow */
    text-decoration:none;
    border-radius: 50%;
    display: block;
    height: 70px;
    width: 70px;
    color: white;
    font-size: 50px;
    text-align: center;
    align-content: center;
    font-weight: 100;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px white;
    border-style: solid;
}

/* article title */
h1 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 900;
    font-size: var(--typography-h1);
    line-height: calc(0.8 * var(--typography-h1));
    padding-top: calc(1.5 * var(--margin)); 
    margin-top: calc(2 * var(--margin));
}

/* styles in article title */
.times {
    font-family: 'Times New Roman', serif;
    font-weight: 500;
    text-transform: lowercase;
    font-style: italic;
}

.play {
    font-family: 'Playfair Display SC', serif;
    font-weight: 400;
    font-size: calc(1 * var(--typography-h1));
}

/* Author's name & publishing date */
.author {
    color: white;
    background-color: black;
}

.author > p {
    line-height: var(--typography-base);
}

/* Link to the original article */
.original {
    text-decoration: underline;
    color: white;
}

article {
    background-color: #F0E6D3;
    margin-top: calc(2 * var(--margin));
    margin-left: calc(1.5 * var(--margin));
    margin-right: calc(1.5 * var(--margin));
}

/* Sub headers in the article */
h2 {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    text-transform: uppercase;
    background-color: black;
}

/* Body text */
p {
    font-family: 'Archivo', sans-serif;
    padding-bottom: var(--gutter);
}

/* Pull quotes */
blockquote > p {
    font-family: 'Lora', serif;
    font-weight: 800;
}

.black {
    color: black;
}

.white {
    color: white;
}

/* In-article links */
.embed-link {
    font-family: 'Crimson Pro', serif;
    font-style: italic;
    font-weight: 500;
}

.embed-link:hover {
    text-decoration: underline;
}




