/* 'IBM Plex Mono', monospace */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* 'Lora', serif */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

/* 'Archivo', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');

/* 'Crimson Pro', serif; */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* 'Hanken Grotesk', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 'Playfair Display SC', serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

/* Colours */
:root {
    --red: #F13028;
    --yellow: #E59801;
    --blue: #0A95FB;
}

html {
    scroll-behavior: smooth;
}

body {
    margin-top: calc(2 * var(--margin));
}

nav {
    font-family: var(--typography-nav);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-left: var(--margin); 
    padding-right: var(--margin); 
}

.nav-link {
    font-size: var(--typography-nav);
}

/* Home button in Nav */
.home {
    display: inline;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: var(--typography-nav);
}

/* Letter styles in Nav */
.times-small {
    font-family: 'Times New Roman', serif;
    font-weight: 500;
    text-transform: lowercase;
    font-style: italic;
}

.play-small {
    font-family: 'Playfair Display SC', serif;
    font-weight: 500;
}

.times-small,
.play-small {
    font-size: calc(1.2 * var(--typography-nav));
}

/* Nav Bar styling */
ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: var(--typography-nav);
    padding-left: var(--nav-space);
}

a {
    color: black;
}

ul li:nth-child(1):hover {
    color: var(--red);
}

ul li:nth-child(2):hover {
    color: var(--yellow);
}

ul li:nth-child(3):hover {
    color: var(--blue);
}

/* Arrow in a circle, goes back to the top */
.top-button {
    font-family: 'IBM Plex Mono', monospace;
    background: black;
    /* Referenced code from Stack Overflow */
    text-decoration:none;
    border-radius: 50%;
    display: block;
    color: white;
    text-align: center;
    align-content: center;
    font-weight: 100;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 2px white;
    border-style: solid;
}

/* Article title */
h1 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: var(--typography-h1);
    font-weight: 900;
    line-height: var(--typography-h1-line-height);
    padding-top: var(--margin);
}

/* Styles in article title */
.times {
    font-family: 'Times New Roman', serif;
    font-weight: 500;
    text-transform: lowercase;
    font-style: italic;
}

.play {
    font-family: 'Playfair Display SC', serif;
    font-weight: 400;
    font-size: calc(1 * var(--typography-h1));
}

/* Author's name & publishing date */
.author {
    font-size: var(--typography-base);
    color: white;
    background-color: black;
    top: 0;
}

.author p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: var(--typography-base);
    line-height: var(--typography-base-line-height);
}

/* Link to the original article */
.original {
    text-decoration: underline;
    color: white;
}

article {
    background-color: #F0E6D3;
    border: 2px black;
    border-style: solid;
    padding-top: var(--margin);
}

/* Sub headers in the article */
h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: var(--typography-h2);
    line-height: var(--typography-h2-line-height);
    color: white;
    text-transform: uppercase;
    background-color: black;
}

/* Body text */
article p {
    font-family: 'Archivo', sans-serif;
    font-size: var(--typography-base);
    line-height: var(--typography-base-line-height);
    padding-bottom: var(--margin);
    margin-left: var(--margin);
    margin-right: var(--margin);
}

/* Pull quotes */
blockquote {
    top: 0;
}

blockquote > p {
    font-family: 'Lora', serif;
    font-weight: 800;
    -webkit-hyphens: manual; /* Safari uses prefix. */
	hyphens: manual;
}

.black {
    font-size: var(--typography-blockquote);
    line-height: calc(1 * var(--typography-blockquote));
    color: black;
}

.white {
    font-size: var(--typography-blockquote-white);
    line-height: var(--typography-blockquote-white);
    color: white;
}

/* In-article links */
.embed-link {
    font-family: 'Crimson Pro', serif;
    font-size: var(--typography-a);
    font-style: italic;
    font-weight: 500;
}

.embed-link:hover {
    text-decoration: underline;
}

/* Footer Style */
footer {
    display: flex;
    background: black;
    align-items: left;
    padding-top: var(--margin);
    padding-bottom: var(--margin);
    padding-left: var(--margin);
}

footer p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: var(--typography-footerp);
    color: white;
    text-transform: uppercase;
    padding-right: var(--margin);
}

/* Mobile*/
@media (min-width: 350px) {
    /* Text Styling */
    :root {
        --typography-base: 1rem;
        --typography-base-line-height: 2rem;
        /* Nav links */
        --typography-nav: 1.5rem;
        /* Article title */
        --typography-h1: 10rem;
        --typography-h1-line-height: 7rem;
        /* Chapter title */
        --typography-h2: 1.8rem; 
        --typography-h2-line-height: 2.3rem;
        /* Blockquote */
        --typography-blockquote: 2rem; 
        /* Blockquote BG */
        --typography-blockquote-white: 3rem;
        --margin-blockquote: 3rem;
        /* Embed links */
        --typography-a: 1.5rem; 
        /* Footer */
        --typography-footerp: 0.8rem;

        --gutter: var(--typography-base);
        --margin: calc(1.5 * var(--typography-base));
        --nav-space: var(--typography-nav);
    }
    
    main {
        margin-bottom: calc(2 * var(--margin));
    }

    nav {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .top-button {
        height: 70px;
        width: 70px;
        font-size: 50px;
    }

    h1 {
        font-size: var(--typography-h1);
        margin-left: var(--margin);
        margin-right: var(--margin);
    }

    article {
        margin-top: calc(2 * var(--margin));
        margin-bottom: calc(2* var(--margin));
        margin-left: calc(1.5 * var(--margin));
        margin-right: calc(1.5 * var(--margin));
    }
    
    h2 {
        max-width: 80vw;
        padding-top: var(--gutter);
        padding-bottom: var(--gutter);
        padding-left: calc(2 * var(--gutter));
        padding-right: var(--gutter);
        margin-top: var(--typography-h2);
        margin-left: calc(-1.5 * var(--gutter));
        margin-bottom: var(--typography-h2);
    }

    blockquote {
        max-width: 80vw;
        padding-bottom: 1.5rem;
    }

    .black {
        padding-left: var(--gutter);
        margin-top: -20rem;
    }
    
    .white {
        margin-bottom: var(--margin);
    }

    .embed-link {
        font-size: var(--typography-a);
    }
}

@media (min-width: 500px) {
    :root {
        --typography-base: 1.1rem;
        --typography-base-line-height: 1.5rem;
        /* Nav links */
        --typography-nav: 1.3rem;
        /* Article title */
        --typography-h1: 8rem;
        --typography-h1-line-height: 7rem;
        /* Chapter title */
        --typography-h2: 1.5rem; 
        --typography-h2-line-height: 2rem;
        /* Blockquote */
        --typography-blockquote: 2rem; 
        /* Blockquote BG */
        --typography-blockquote-white: 3rem;
        --margin-blockquote: 3rem;
        /* Embed links */
        --typography-a: 1.3rem; 
        /* Footer */
        --typography-footerp: 0.8rem;
    }

    h1 {
        max-width: 80vw;
    }
    
    blockquote {
        max-width: 80vw;
        padding-bottom: 1.5rem;
    }
    
    .white {
        margin-bottom: var(--margin);
    }
}

@media (min-width: 580px) {
    h1 {
        max-width: 70vw;
    }

    h2 {
        max-width: 80vw;
    }

    

    article p {
        max-width: 70vw;
    }
}

@media (min-width: 640px) {
    :root {
        --typography-base: 1.1rem;
        --typography-base-line-height: 1.5rem;
        /* Nav links */
        --typography-nav: 1.3rem;
        /* Article title */
        --typography-h1: 8rem;
        --typography-h1-line-height: 7rem;
        /* Chapter title */
        --typography-h2: 1.5rem; 
        --typography-h2-line-height: 2rem;
        /* Blockquote */
        --typography-blockquote: 2rem; 
        /* Blockquote BG */
        --typography-blockquote-white: 3rem;
        --margin-blockquote: 3rem;
        /* Embed links */
        --typography-a: 1.3rem; 
        /* Footer */
        --typography-footerp: 0.9rem;
    }
    
    body {
        justify-content: center;
    }

    h1 {
        line-height: calc(0.9 * var(--typography-h1));
        padding-top: calc(1 * var(--margin)); 
        max-width: 80vw;
    }

    article {
        max-width: 70vw;
    }

    h2 {
        max-width: 40vw;
    }

    blockquote {
        max-width: 60vw;
    }
}

@media (min-width: 800px) {
   :root {
    --typography-h1: 9rem;
    --typography-h1-line-height: 7rem;
    /* Chapter title */
   }
   
    p {
        max-width: 60vw;
    }
}

@media (min-width: 960px) {
    :root {
        --typography-base: 1.3rem;
        --typography-base-line-height: 1.8rem;
        /* Nav links */
        --typography-nav: 1.3rem;
        /* Article title */
        --typography-h1: 10rem;
        --typography-h1-line-height: 7rem;
        /* Chapter title */
        --typography-h2: 1.8rem; 
        --typography-h2-line-height: 2.3rem;
        /* Blockquote */
        --typography-blockquote: 2rem; 
        /* Blockquote BG */
        --typography-blockquote-white: 3rem;
        --margin-blockquote: 3rem;
        /* Embed links */
        --typography-a: 1.3rem; 
        /* Footer */
        --typography-footerp: 0.9rem;
    }

    h1 {
        max-width: 80vw;
    }
}

@media (min-width: 1000px) {
    :root {
        --typography-base: 1.3rem;
        --typography-nav: 1.7rem;
        --typography-h1: 10rem; /* article title */
        --typography-h2: 2rem; /* chapter title */
        --typography-blockquote: 2.5rem; /* Blockquote */
        --typography-blockquote-white: 3.5rem; /* Blockquote BG*/
        --typography-a: 1.5rem; /* Embed links */
        --typography-footerp: 1rem;

        --gutter: var(--typography-base);
        --margin: calc(1.5 * var(--typography-base));
        --nav-space: var(--typography-nav);
        --p-line-height: calc(1.4 * var(--typography-base));
    }

    h1 {
        max-width: 100vw;
    }

    h2 {
        max-width: 50vw;
    }

    article {
        max-width: 55vw;
        padding-top: calc(2 * var(--margin));
        padding-bottom: calc(1 * var(--margin));
    }

    blockquote {
        max-width: 50vw;
        padding-bottom: 1.5rem;
    }

    .black {
        padding-left: var(--gutter);
        margin-top: -15rem;
    }

    article p {
        margin-left: calc(2 * var(--margin));
        margin-right: var(--margin);
        max-width: 40vw;
    }
}




