/* 'IBM Plex Mono', monospace */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* 'Lora', serif */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

/* 'Archivo', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');

/* 'Crimson Pro', serif; */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* 'Hanken Grotesk', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 'Playfair Display SC', serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

/******** Styling Time! ********/

:root {
    /* Colours */
    --red: #F13028;
    --yellow: #E59801;
    --blue: #0A95FB;
    --off-white: #F0E6D3;
}

html {
    scroll-behavior: smooth;
}

nav {
    font-family: var(--typography-nav);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    padding-top: var(--nav-padding);
    padding-bottom: var(--nav-padding);
    padding-left: var(--margin); 
    padding-right: var(--margin); 

    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.nav-link {
    font-size: var(--typography-nav);
}

/* Home button in Nav */
.home {
    color: black;
    display: inline;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: var(--typography-nav);
}

.home:hover{
    text-decoration: underline;
}

/* Letter styles in Nav */
.times-small {
    font-family: 'Times New Roman', serif;
    font-weight: 500;
    text-transform: lowercase;
    font-style: italic;
}

.play-small {
    font-family: 'Playfair Display SC', serif;
    font-weight: 500;
}

.times-small,
.play-small {
    font-size: calc(1.2 * var(--typography-nav));
}

/* Nav Bar styling */
ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: var(--typography-nav);
    padding-left: var(--nav-space);
}

/* Links to Article */
.nav-link-red:hover {
    color: var(--red);
}

.nav-link-yellow:hover {
    color: var(--yellow);
}

.nav-link-blue:hover {
    color: var(--blue);
}

.nav-link-red:hover,
.nav-link-yellow:hover,
.nav-link-blue:hover {
    text-decoration: underline;
}

/* Arrow in a circle, goes back to the top */
.top-button {
    font-family: 'IBM Plex Mono', monospace;
    background: black;
    /* Referenced code from Stack Overflow */
    text-decoration:none;
    border-radius: 50%;
    display: block;
    color: white;
    text-align: center;
    align-content: center;
    font-weight: 100;
    position: fixed;
    border: 2px white;
    border-style: solid;
}

/* Article title */
h1 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: var(--typography-h1);
    font-weight: 900;
    color: white;
    line-height: var(--h1-line-height);

    margin-top: var(--margin);
    margin-left: var(--margin);
    margin-right: var(--margin);
}

/* Styles in article title */
.times {
    font-family: 'Times New Roman', serif;
    font-weight: 500;
    text-transform: lowercase;
    font-style: italic;
}

.play {
    font-family: 'Playfair Display SC', serif;
    font-weight: 400;
    font-size: calc(1 * var(--typography-h1));
}

/* Author's name & publishing date */
.author {
    font-size: var(--typography-base);
    line-height: var(--typography-base-line-height);
    color: white;
    background-color: black;
    top: 0;

    padding-top: var(--author-padding-top);
    padding-bottom: var(--author-padding-bottom);
    padding-left: var(--margin);
    margin-top: var(--author-margin-top);
}

.author p {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: var(--typography-base);
    padding-left: var(--margin);
    line-height: var(--typography-base-line-height);
}

/* Link to the original article */
.original {
    color: white;
    padding-bottom: var(--margin);
}

.original:hover {
    text-decoration: underline;
}

/* Readings for individual articles */
.solo-readings {
    background-color: var(--off-white);
    border: 2px black;
    border-style: solid;
    
    padding-bottom: var(--article-padding);
    margin-top: var(--article-margin);
    margin-bottom: var(--article-margin);
    margin-left: var(--article-margin);
    margin-right: var(--article-margin);
}

.intro {
    background-color: #F0E6D3;
}

/* Sub headers in the article */
h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: var(--typography-h2);
    line-height: var(--h2-line-height);
    color: white;
    text-transform: uppercase;
    background-color: black;

    padding-top: var(--h2-padding);
    padding-bottom: var(--h2-padding);
    padding-left: calc(3 * var(--h2-padding));
    padding-right: var(--h2-padding);

    margin-top: var(--typography-h2);
    margin-bottom: calc(1.5 * var(--typography-h2));
}

/* Body text */
article p {
    font-family: 'Archivo', sans-serif;
    font-size: var(--typography-base);
    line-height: var(--typography-base-line-height);
    
    padding-bottom: var(--base-padding);
    margin-left: var(--base-margin);
    margin-right: var(--base-margin);
}

article p:nth-child(1){
    padding-top: var(--gutter);
}

/* Pull quotes */
blockquote {
    margin-top: calc(1 * var(--typography-margin));
    margin-bottom: calc(1 * var(--typography-margin));
    padding-bottom: var(--blockquote-padding-bottom);
    /* padding-left: var(--blockquote-padding); */
}

blockquote p {
    font-size: var(--typography-blockquote);
    line-height: var(--blockquote-line-height);
    font-family: 'Lora', serif;
    font-weight: 800;
    -webkit-hyphens: manual; /* Safari uses prefix. */
	hyphens: manual;
    text-shadow: 20px 10px white;
}


/* In-article links */
.embed-link {
    font-family: 'Crimson Pro', serif;
    font-size: var(--typography-a);
    font-style: italic;
    font-weight: 500;
    text-decoration: underline;
}

.embed-link:hover {
    text-decoration: none;
}

/* Footer Style */
footer {
    display: flex;
    align-items: left;

    padding-left: var(--margin);
    padding-top: var(--margin);
    padding-bottom: var(--margin);
    padding-right: var(--margin);
}

footer p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: var(--typography-footerp);

    text-transform: uppercase;
    
    padding-right: var(--footer-p-padding);
}

/* Mobile*/
@media (min-width: 350px) {
    :root {
        /* P Styling */
        --typography-base: 1.1rem;
        --typography-base-line-height: 1.6rem;

        --base-padding: 1rem;
        --base-margin: 1.5rem;
        
        /* Nav links */
        --typography-nav: 1.2rem;
        --nav-padding: 13px;
        --nav-space: var(--typography-nav);

        /* Article Title */
        --h1-margin-top: 2rem;
       
        /* Subheaders */
        --typography-h2: 1.3rem; 
        --h2-line-height: 1.8rem;

        --h2-padding: 10px;

        /* Article */
        --article-padding: 1rem;
        --article-margin: 1.5rem;
        
        /* Blockquote */
        --typography-blockquote: 1.7rem; 
        --blockquote-padding-bottom: 2rem;
        --margin-blockquote: 2.5rem;
       
        /* Embed links */
        --typography-a: 1.2rem; 
        
        /* Footer */
        --typography-footerp: 0.7rem;

        --footer-p-padding: 1rem;

         /* Spacing */
        --gutter: 1.5rem;
        --margin: 1.5rem;
    }

    .top-button {
        height: 50px;
        width: 50px;
        font-size: 2rem;

        bottom: 20px;
        right: 20px;
    }
    
    h2 {
        max-width: 80vw;
        margin-left: calc(-0.8 * var(--gutter));
    }

    blockquote {
        max-width: 80vw;
    }
}

@media (min-width: 500px) {
    :root {
        /* P Styling */
        --typography-base: 1.1rem;
        --typography-base-line-height: 1.6rem;

        --base-padding: 1.5rem;
        --base-margin: 2rem;

        --typography-blockquote: 1.8rem; 

    }

    h2 {
        max-width: 70vw;
    }

    article {
        max-width: 80vw;
    }

    blockquote {
        max-width: 80vw;
    }
}

@media (min-width: 580px) {
    :root {
        /* Article */
        --article-padding: 1.5rem;
    }
    
    h2 {
        max-width: 70vw;
    }

    article p {
        max-width: 80vw;
    }

    blockquote {
        max-width: 75vw;
    }
}

@media (min-width: 640px) {
    :root {
        /* Nav links */
        --typography-nav: 1.3rem;

        /* P Styling */
        --typography-base: 1.15rem;
        --typography-base-line-height: 1.6rem;

        --base-padding: 1rem;
        --base-margin: 2.5rem;
        
        /* Subheaders */
        --typography-h2: 1.5rem; 
        --h2-line-height: 2rem;
        
        /* Blockquote */
        --typography-blockquote: 2rem; 
        
        /* Blockquote BG */
        --typography-blockquote-white: 3rem;
        --margin-blockquote: 3rem;
        
        /* Embed links */
        --typography-a: 1.2rem; 
        
        /* Footer */
        --typography-footerp: 0.9rem;

        --footer-p-padding: 1.3rem;

        /* Spacing */
        --gutter: 1rem;
        --margin: 1.3rem;
    }
    
    body {
        justify-content: center;
    }

    h2 {
        max-width: 65vw;
    }

    article {
        max-width: 70vw;
    }

    article p {
        max-width: 80vw;
    }
}

@media (min-width: 800px) {   
    :root {
        /* P Styling */
        --typography-base: 1.18rem;
        --typography-base-line-height: 1.7rem;

        --base-padding: 1rem;
        --base-margin: 2.5rem;

        /* Article */
        --article-padding: 1.5rem;
        --article-margin: 2rem;
    }

    h2 {
        max-width: 50vw;
    }

    blockquote {
        max-width: 58vw;
    }

    article {
        max-width: 65vw;
    }

    article p {
        max-width: 65vw;
    }
}

@media (min-width: 960px) {
    :root {
        /* P Styling */
        --typography-base: 1.25rem;
        --typography-base-line-height: 1.8rem;

        --base-padding: 1rem;
        --base-margin: 3.3rem;
        
        /* Nav links */
        --typography-nav: 1.4rem;
        --nav-padding: 18px;
        --nav-space: 2rem;

        /* Article */
        --article-padding: 2rem;
        --article-margin: 3rem;
        
        /* Subheaders */
        --typography-h2: 1.7rem; 
        --h2-line-height: 2rem;

        --h2-padding: 16px;
        
        /* Blockquote */
        --typography-blockquote: 2rem; 
        
        /* Blockquote BG */
        --typography-blockquote-white: 3rem;
        --margin-blockquote: 3rem;
       
        /* Embed links */
        --typography-a: 1.5rem; 
        
        /* Footer */
        --typography-footerp: 1rem;

        --footer-p-padding: 1.5rem;

        /* Spacing */
        --gutter: 1rem;
        --margin: 1.7rem;
    }

    h2 {
        max-width: 45vw;
    }

    blockquote {
        max-width: 50vw;
    }

    article {
        max-width: 60vw;
    }

    article p {
        max-width: 57vw;
    }
}

@media (min-width: 1200px) {
    :root {
        /* P Styling */
        --typography-base: 1.3rem;
        --typography-base-line-height: 2rem;

        --base-padding: 1.5rem;
        --base-margin: 4.5rem;

        /* Nav links */
        --typography-nav: 1.6rem;
        --nav-padding: 20px;
        --nav-space: 3rem;

         /* Article */
        --article-padding: 3rem;
        --article-margin: 4rem;
        
        /* Subheaders */
        --typography-h2: 1.9rem; 
        --h2-line-height: 2.3rem;

        --h2-padding: 20px;
        
        /* Blockquote */
        --typography-blockquote: 2.8rem; 
        --blockquote-line-height: 3rem;
        --blockquote-padding: 3rem;
        
        /* Embed links */
        --typography-a: 1.5rem; 
        
        /* Footer */
        --typography-footerp: 1.1rem;

        --footer-p-padding: 2rem;

        /* Spacing */
        --gutter: 1rem;
        --margin: 1.7rem;
    }

    .top-button {
        height: 70px;
        width: 70px;
        font-size: 3rem;

        bottom: 40px;
        right: 40px;
    }

    h2 {
        max-width: 45vw;
    }

    blockquote {
        max-width: 45vw;
    }

    article p {
        max-width: 45vw;
        justify-content: center;
    }

    article {
        max-width: 50vw;
    }
}




