/* 'Onest', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600;700&display=swap');

/* 'Chivo', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap'); 

/* 'Almarai', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&family=Chivo:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* 'IBM Plex Mono', monospace */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* 'DM Sans', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* 'Lora', serif */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

/* 'Archivo', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');

/* 'Rubik', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Rubik:ital,wght@0,400;0,500;1,400&display=swap');

/* 'Crimson Pro', serif; */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* 'Inter', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

/* 'Hanken Grotesk', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 'Arvo', serif; */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

/* 'Playfair Display SC', serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

/* 'Arimo', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --typography-base: 1rem;

    --typography-h1: calc(10 * var(--typography-base)); /* article title */
    --typography-h2: calc(2 * var(--typography-base)); /*chapter title */
    --typography-h3: calc(4 * var(--typography-base)); /*chapter number*/
    --typography-blockquote: calc(2 * var(--typography-base)); /*blockquote*/
    --typography-a: calc(1.5 * var(--typography-base)); /* nav links */
    --typography-footerp: calc(0.8 *var(--typography-base));

    --gutter: var(--typography-base);
    --margin: calc(1.5 * var(--typography-base));
}

/* Mobile */
@media (min-width: 375px) {
    article {
        padding-top: var(--margin);
        padding-bottom: var(--margin);
        margin-top: calc(3 * var(--margin));
        margin-left: var(--margin);
        margin-right: var(--margin);
        margin-bottom: calc(2* var(--margin));
        border: 2px black;
        border-style: solid;
    }
    
    h2 {
        padding-right: var(--margin);
        padding-left: var(--margin);
        padding-top: calc(0.5 * var(--gutter));
        padding-bottom: calc(0.5 * var(--gutter));
    }

    p {
        margin-left: var(--margin);
        margin-right: var(--margin);
    }

    blockquote {
        max-width: 80vw;
    }

    
}

body {
    background-color: #F0E6D3;
}

.home {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: var(--typography-h1);
    padding-left: var(--margin);
}

h1 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 900;
    color: #F13028;
    font-size: var(--typography-h1);
    line-height: calc(0.8 * var(--typography-h1));
    padding-left: var(--margin);
}

.times {
    font-family: 'Times New Roman', serif;
    font-weight: 500;
    text-transform: lowercase;
    font-style: italic;
}

.play {
    font-family: 'Playfair Display SC', serif;
    font-weight: 400;
    font-size: calc(1 * var(--typography-h1));
}

.author {
    background-color: white;
    color: black;
    padding-top: calc(22 * var(--margin));
    padding-bottom: var(--margin);
    padding-left: var(--margin);
    margin-left: 40vw;
    margin-top: calc(-28 * var(--gutter));
}

.author > p {
    line-height: var(--typography-base);
}


h2 {
    font-family:'Hanken Grotesk', sans-serif;
    color: white;
    font-weight: 800;
    font-size: var(--typography-h2);
    text-transform: uppercase;
    background-color: #F13028;
    rotate: -3deg;
    margin-top: calc(2 * var(--typography-h2));
    margin-bottom: var(--typography-h2);
    margin-left: calc(-2 * var(--gutter));
    margin-right: calc(-2 * var(--gutter));
}

p {
    font-family: 'Archivo', sans-serif;
    font-size: var(--typography-base);
    padding-bottom: var(--gutter);
    line-height: calc(1.9 * var(--typography-base));
}

blockquote > p {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    font-size: var(--typography-blockquote);
    text-transform: uppercase;
    background-color: black;
    padding-top: var(--gutter);
    padding-left: calc(2 * var(--gutter));
    padding-right: var(--gutter);
    margin-top: var(--typography-blockquote);
    margin-left: calc(-2 * var(--gutter));
    margin-bottom: var(--typography-blockquote);
}

em {
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
}

a:not([href="#"][class="original"]) {
    font-family: 'Crimson Pro', serif;
    font-size: var(--typography-a);
    font-style: italic;
    font-weight: 500;
}

a:not([href="#"][class="original"]):hover {
    text-decoration: underline;
}




