/* entire web page */
body {
    background-color: #F13028;
}

/* main title */
h1 {
    color: white;
}

/* sub headers */
h2 {
    color: white;
}

/* Mobile*/
@media (min-width: 375px) {
    /* Author's name & publishing date */
    .author {
        padding-top: calc(21 * var(--margin));
        padding-bottom: var(--margin);
        padding-left: calc(0.5 * var(--margin));
        margin-left: 35vw;
        margin-top: calc(-28 * var(--gutter));
    }
}

@media (min-width: 640px) {
    /* Author's name & publishing date */
    .author {
        padding-top: calc(21 * var(--margin));
        padding-bottom: var(--margin);
        padding-left: calc(0.5 * var(--margin));
        margin-left: 35vw;
        margin-top: calc(-28 * var(--gutter));
    }
}

@media (min-width: 1000px) {
    /* Author's name & publishing date */
    .author {
        padding-top: calc(21 * var(--margin));
        padding-bottom: var(--margin);
        padding-left: calc(0.5 * var(--margin));
        margin-left: 50vw;
        margin-top: calc(-28 * var(--gutter));
}
}

