/* entire web page */
body {
    background-color: #F13028;
}

/* Mobile*/
@media (min-width: 350px) {
    :root {
        /* Article title */
        --typography-h1: 8rem;
        --typography-h1-line-height: 7rem;
    }
    
    /* Author's name & publishing date */
    .author {
        padding-top: calc(21 * var(--margin));
        padding-bottom: var(--margin);
        padding-left: calc(1.5 * var(--margin));
        margin-left: 35vw;
        margin-top: calc(-28 * var(--gutter));
    }
}

@media (min-width: 580px) {
    :root {
        /* Article title */
        --typography-h1: 8rem;
        --typography-h1-line-height: 7rem;
    }

    h1 {
        max-width: 80vw;
    }

    .author {
        padding-top: calc(20 * var(--margin));
        padding-left: calc(1.3 * var(--margin));
    }
}

@media (min-width: 640px) {
    :root {
         /* Article title */
         --typography-h1: 8rem;
         --typography-h1-line-height: 7rem;
    }

    h1 {
        max-width: 80vw;
    }
    
    /* Author's name & publishing date */
    .author {
        padding-top: calc(21 * var(--margin));
        padding-bottom: var(--margin);
        padding-left: calc(1 * var(--margin));
        margin-left: 35vw;
        margin-top: calc(-28 * var(--gutter));
    }    
}

@media (min-width: 960px) {
    :root {
        --typography-h1: 9rem;
        --typography-h1-line-height: 7rem;
    }

    h1 {
        max-width: 80vw;
    }

    /* Author's name & publishing date */
    .author {
        padding-top: calc(21 * var(--margin));
        padding-left: calc(1.2 * var(--margin));
        margin-left: 35vw;
        margin-top: calc(-28 * var(--gutter));
    }
}

@media (min-width: 1000px) {
    :root {
        --typography-h1: 10.5rem;
        --typography-h1-line-height: 12rem;
    }

    h1 {
        max-width: 100vw;
    }

    /* Author's name & publishing date */
    .author {
        padding-top: calc(21 * var(--margin));
        padding-left: calc(1 * var(--margin));
        margin-left: 50vw;
        margin-top: calc(-28 * var(--gutter));
    }
}

