/* entire web page */
body {
    background-color: var(--red);
}

.nav-link-red {
    color: var(--red);
}

/* Mobile*/
@media (min-width: 350px) {
    :root {
        /* Article title */
        --typography-h1: 6rem;
        --h1-line-height: 5rem;
        --h1-margin: 3rem;

        /* Author & OG article layout */
        --author-padding-top: 23rem;
        --author-padding-bottom: 2rem;
        --author-margin-top: -20rem;
    }

    /* Author & OG article layout */
    .author {
        padding-left: var(--margin);
        margin-left: 35vw;
    }
}

@media (min-width: 580px) {
    :root {
        /* Article title */
        --typography-h1: 8rem;
        --h1-line-height: 7rem;
        --h1-margin: 3rem;

        /* Author & OG article layout */
        --author-padding-top: 28rem;
        --author-padding-bottom: 2rem;
        --author-margin-top: -25rem;
    }

    h1 {
        max-width: 80vw;
    }
}

@media (min-width: 640px) {
    :root {
        /* Author & OG article layout */
        --author-padding-top: 30rem;
        --author-padding-bottom: 2rem;
        --author-margin-top: -27rem;
    }

    h1 {
        max-width: 80vw;
    }
}

@media (min-width: 960px) {
    :root {
          /* Article title */
          --typography-h1: 10rem;
          --h1-line-height: 9rem;
          --h1-margin: 3rem;
    }

    h1 {
        max-width: 90vw;
    }
}

@media (min-width: 1200px) {
    :root {
        /* Article title */
        --typography-h1: 12rem;
        --h1-line-height: 11rem;
        --h1-margin: 2rem;

        /* Author & OG article layout */
        --author-padding-top: 31rem;
        --author-padding-bottom: 3rem;
        --author-margin-top: -27rem;
    }

    h1 {
        max-width: 60vw;
    }
}

