:root {
    --typography-base: 1rem;

    --typography-h1: calc(10 * var(--typography-base)); /* article title */
    --typography-h2: calc(3 * var(--typography-base)); /*chapter title */
    --typography-h3: calc(4 * var(--typography-base)); /*chapter number*/
    --typography-quote: calc(2.5 * var(--typography-base)); /*blockquote*/
    --typography-a: calc(0.5 * var(--typography-base)); /* nav links */
    --typography-footerp: calc(0.8 *var(var(--typography-base)));

    --gutter: var(--typography-base);
}

body {
    background-color: black;
}

.nav {
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    background-color: #F8F3F0;
}

button {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: calc(2 * var(--typography-base));
    color: black;
}

head {
    margin-left: var(--gutter);
}

.context,
.box {
    background-color: #F8F3F0;
}

article {
    padding-top: calc(1.5 * var(--gutter));
    padding-left: calc(1 * var(--gutter));
    padding-right: calc(1 * var(--gutter));
    padding-bottom: calc(1.5 * var(--gutter));
}

h1 {
    font-family: 'Chivo', sans-serif;
    font-size: var(--typography-h1);
    color: #2E7EDD;
    padding-top: calc(5 * var(--gutter));
    padding-bottom: calc(5 * var(--gutter));
    padding-left: var(--gutter);
    margin-top: var(--gutter);
    line-height: calc(10 * var(--gutter));
}

h2 {
    font-family: 'Chivo', sans-serif;
    font-size: var(--typography-h2);
    padding-top: calc(1 * var(--gutter));
    padding-bottom: var(--gutter);
    margin-bottom: calc(2 * var(--gutter));
}

blockquote {
    font-size: var(--typography-quote);
    padding-top: calc(1 * var(--gutter));
    padding-bottom: calc(1 * var(--gutter));
    margin-bottom: calc(1.5 * var(--gutter));
}

section {
    padding-left: calc(1.5 * var(--gutter));
    padding-right: calc(1.5 * var(--gutter)); 
    padding-top: calc(1.5 * var(--gutter)); 
}

h4 {
    font-family: 'Chivo', sans-serif;
    font-size: calc(1.5 * var(--typography-base));
    background-color: #2E7EDD;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    padding-left: calc(1.5 * var(--gutter));
}

div {
    /*width: 200px;
    height: 100px;*/
    border: 5px solid #2E7EDD;
    margin-top: calc(2 * var(--gutter));
    /*margin: 10px;*/
}

section {
    padding-left: calc(1.5 * var(--gutter));
    padding-right: calc(1.5 * var(--gutter));
}

h3,
.quote {
    font-family: 'Chivo', sans-serif;
    padding-top: calc(1 * var(--gutter));
    max-width: 80vw;
}

.name {
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    font-size: var(--typography-base);
}

h3 {
    font-family: 'IBM Plex Mono', sans-serif;
    padding-bottom: var(--gutter);
}

p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: var(--typography-base);
    padding-bottom: var(--gutter);
    padding-right: calc(1 * var(--gutter));
}

hr {
    display: block;
    height: 5px;
    color: black;
    width: 100vw;
}

a:not([href^="#"]) {
    color: #2E7EDD;
    font-family: 'Chivo', sans-serif;
    text-transform: uppercase;
}

a:not([href^="#"]):hover{
    color: rgb(1, 1, 213);
}

