:root {
    --typography-base: 1rem;

    --typography-h1: calc(5 * var(--typography-base)); /* article title */
    --typography-h2: calc(3 * var(--typography-base)); /*chapter title */
    --typography-h3: calc(4 * var(--typography-base)); /*chapter number*/
    --typography-blockquote: calc(2.5 * var(--typography-base)); /*blockquote*/
    --typography-a: calc(0.5 * var(--typography-base)); /* nav links */
    --typography-footerp: calc(0.8 *var(var(--typography-base)));

    --gutter: var(--typography-base);
}

.nav {
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    background-color: black;
}

button {
    font-family: 'Almarai', sans-serif;
    font-size: calc(2 * var(--typography-base));
    color: white;
}

h1 {
    font-family: 'Inknut Antiqua', serif;
    font-size: var(--typography-h1);
    line-height: calc(2.5 * var(--typography-h1));
}

ol {
    align-content: center;
    text-align: center;
}

.context {
    align-content: center;
    text-align: center;
}

.box,
.context {
    margin-left: calc(2 * var(--gutter));
    margin-right: calc(2 * var(--gutter));
}

.box {
    margin-top: 80px;
}

h2 {
    font-family: 'Inknut Antiqua', serif;
}

blockquote {
    font-family: 'Averia Serif Libre', serif;
    font-size: var(--typography-blockquote);
    line-height: calc(3 * var(--gutter));
    max-width: 80vw;
    padding-top: var(--typography-blockquote);
    padding-bottom: var(--typography-blockquote);
}

p {
    font-family: 'Almarai', sans-serif;
    font-size: var(--typography-base);
    line-height: calc(1.8 * var(--typography-base));
    padding-bottom: var(--gutter);
}

a { 
    font-family: 'Averia Serif Libre', serif;
    text-transform: uppercase;
}

section {
    padding-top: var(--gutter);
    font-size: var(--typography-base);
}