/* 'Onest', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600;700&display=swap');

:root {
    --typography-base: 1rem;

    --typogaphy-h1: calc(4 * var(--typography-base)); /* article title */
    --typography-h2: calc(3 * var(--typography-base)); /*chapter title */
    --typography-h3: calc(4 * var(--typography-base)); /*chapter number*/
    --typography-blockquote: calc(3 * var(--typography-base)); /*blockquote*/
    --typography-a: calc(0.5 * var(--typography-base)); /* nav links */
    --typography-footerp: calc(0.8 *var(var(--typography-base)));

    --gutter: var(--typography-base);
}

.nav {
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    background-color: #C4D2D9;
}

button {
    font-family: 'Onest', sans-serif;
    font-size: calc(2 * var(--typography-base));
    color: black;
}

article {
    padding-top: calc(1.5 * var(--gutter));
    padding-bottom: calc(1.5 * var(--gutter));
    padding-left: calc(2 * var(--gutter));
    padding-right: calc(2 * var(--gutter));
}