:root {
    --typography-base: 1rem;

    --typography-h1: calc(3 * var(--typography-base)); /* article title */
    --typography-h2: calc(2.5 * var(--typography-base)); /*chapter title */
    --typography-h3: calc(4 * var(--typography-base)); /*chapter number*/
    --typography-blockquote: calc(3 * var(--typography-base)); /*blockquote*/
    --typography-a: calc(0.5 * var(--typography-base)); /* nav links */
    --typography-footerp: calc(0.8 *var(var(--typography-base)));

    --gutter: var(--typography-base);
}

article {
    margin-left: calc(1.5 * var(--gutter));
    margin-right: calc(1.5 * var(--gutter));
}

h1 {
    font-family: 'Chivo', serif;
    font-size: var(--typography-h1);
    padding-top: calc(2 * var(--gutter));
    padding-bottom: var(--gutter);
}

h2 {
    font-family: 'Chivo', sans-serif;
    font-size: var(--typography-h2);
    padding-bottom: var(--gutter);
    padding-top: calc(1 * var(--gutter));
    max-width: 80vw;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: var(--typography-base);
    padding-bottom: var(--gutter);
}

a:not([href^="#"]) {
    color: black;
}

a:not([href^="#"]):hover{
    color: rgb(1, 1, 213);
}

a:not([href^="#"]):visited {
    color: grey;
 }

 a:not([href^="#"]):visited:hover {
    color: rgb(1, 1, 213);
 }
