body {
    background-color: black;
}

/* Mobile */
@media (min-width: 375px) {
    :root {
        /* Article title */
        --typography-h1: 8rem;
        --typography-h1-line-height: 7rem;
    }
    
    /* Author's name & publishing date */
    .author {
        padding-top: calc(21 * var(--margin));
        padding-bottom: var(--margin);
        padding-left: calc(1.5 * var(--margin));
        margin-left: 35vw;
        margin-top: calc(-28 * var(--gutter));
    }
    
    .index {
        margin-left: calc(2 * var(--margin));
        margin-right: calc(2 * var(--margin));
    }
    
    h3 {
        max-width: 90vw;
        padding-top: var(--gutter);
        padding-bottom: var(--gutter);
        padding-left: calc(2 * var(--gutter));
        padding-right: var(--gutter); 
        margin-bottom: calc(2 * var(--gutter));
    }

    .reading {
        font-size: var(--typography-h3);
    }

    .about > p {
        font-size: var(--typography-base);
        line-height: calc(1.5 * var(--typography-base));
    }
}

@media (min-width: 500px) {
    .index {
        display: flex;
        max-width: 70vw;
        align-items: center;
        justify-content: center;
    }

    .about > p {
        font-size: var(--typography-base);
        line-height: calc(1.5 * var(--typography-base));
    }
}

@media (min-width: 1200px) {
    .maintitle {
        max-width: 70vw;
    }
}

.maintitle {
    margin-bottom: var(--typography-h1);
    color: black;
}

.reading {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}