body {
    background-color: black;
}

a {
    color: black;
}

.nav-link-red:hover {
    color: var(--red);
}

.nav-link-yellow:hover {
    color: var(--yellow);
}

.nav-link-blue:hover {
    color: var(--blue);
}

h1 {
    align-items: center;
    text-align: center;

    padding-top: var(--h1-padding-top);
    padding-bottom: calc(4 * var(--margin));
    top: 0;
}

.maintitle-index h1 {
    color: white;
}

article {
    padding-top: var(--article-padding);
    /* padding-bottom: var(--article-padding); */
}

.maintitle-index {
    max-width: 100vw;
}

.intro {
    background-color: black;
    max-width: 100vw;

    display: grid;
    justify-content: center;
    
    padding-top: var(--intro-padding);
    padding-bottom: var(--intro-padding);
}

.intro-text p {
    font-family:'Archivo', sans-serif;
    font-size: var(--typography-intro-p);
    line-height: var(--intro-p-line-height);
    color: white;
}

.readings {
    margin-bottom: var(--readings-margin-bottom);
}

/* Readings Chosen Section*/
.selected-readings {
    background-color: black;
    padding-top: var(--selected-readings-padding);
    max-width: 100vw;
}

/* Title of Each Article */
h3 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: var(--typography-h3);
    font-weight: 800;
    line-height: var(--h3-line-height);

    padding-left: var(--h3-padding);
}

.reading-link {
    color: white;
}

.reading-link:hover {
    /* font-family: 'Times New Roman', serif; */
    font-style: italic;
    text-decoration: underline;
}

.about-red,
.about-blue,
.about-yellow {
    padding-top: var(--about-padding-top);
    margin-top: var(--about-margin-top);
}


.about-red {
    background-color: var(--red);
    padding-left: var(--context-padding);
}

.about-yellow {
    background-color: var(--yellow);
}

.about-blue {
    background-color: var(--blue);
}

/* Blurb about each reading */
.selected-readings p {
    font-size: var(--author-p);
    color: white;
}

hr {
    display: block;
    height: 2px;
    border-top: 2px solid white;
    width: 100%;

    padding-top: var(--padding);
    padding-bottom: var(--padding);
    padding-left: var(--padding);
}

footer {
    background: white;
}

/* Mobile */
@media (min-width: 375px) {
    :root {        
        /* Page title */
        --typography-h1: 5rem;
        --h1-line-height: 4.5rem;
        --h1-margin: 3rem;
        --h1-padding: 7rem;
        --h1-padding-top: 7rem;

        /* Intro text styling */
        --typography-intro-p: 1rem;
        --intro-p-line-height: 1.5rem;
        --intro-padding: 5rem;

        /* Articles */
        --article-padding: 2rem;

        --selected-readings-padding: 3.5rem;
        
        /* Space between articles */
        --readings-margin-bottom: 2rem;

        /* Reading titles */
        --typography-h3: 3.7rem;
        --h3-line-height: 3.5rem;
        --h3-padding: 1rem;

        /* Author small */
        --author-small-padding: 1rem;
        --author-small-margin: 1rem;
        --author-small-left: 3rem;
        --author-p: 1rem;

        /* Coloured Boxes */
        --about-padding-top: 5rem;
        --about-margin-top: -5rem;
    }

    .intro-text {
        max-width: 90vw;
    }

    .about-red,
    .about-yellow,
    .about-blue {
        max-width: 100vw;
    }
}

@media (min-width: 500px) {
    :root {        
        /* Page title */
        --typography-h1: 6rem;
        --h1-line-height: 5rem;
        --h1-margin: 3rem;
        --h1-padding-top: 5rem;

        /* Intro text styling */
        --typography-intro-p: 1.1rem;
        --intro-p-line-height: 1.5rem;
        --intro-padding: 4rem;

        /* Reading titles */
        --typography-h3: 4rem;
        --h3-line-height: 3.8rem;
        --h3-padding: 1.8rem;
    }

    h1 {
        max-width: 80vw;
        margin-left: 10vw;
    }

    h3 {
        max-width: 90vw;
    }
}

@media (min-width: 600px) {
    :root {        
        /* Page title */
        --typography-h1: 6.5rem;
        --h1-line-height: 5.5rem;
        --h1-margin: 3rem;
        --h1-padding-top: 6.5rem;

        --intro-padding: 5rem;

        /* Reading titles */
        --typography-h3: 4rem;
        --h3-line-height: 3.8rem;
        --h3-padding: 1.8rem;
    }

    .intro-text {
        max-width: 80vw;
    }
}

@media (min-width: 800px) {
    :root {        
        /* Page title */
        --typography-h1: 8rem;
        --h1-line-height: 7rem;
        --h1-margin: 3rem;
        --h1-padding-top: 3rem;

        /* Intro text styling */
        --typography-intro-p: 1.3rem;
        --intro-p-line-height: 1.8rem;
        --intro-padding: 5rem;

        /* Reading titles */
        --typography-h3: 4.3rem;
        --h3-line-height: 4rem;
        --h3-padding: 1.8rem;

         /* Coloured Boxes */
         --about-padding-top: 2rem;
         --about-margin-top: -2rem;
    }
}

@media (min-width: 1200px) { 
    :root {        
        /* Page title */
        --typography-h1: 10rem;
        --h1-line-height: 10rem;
        --h1-margin: 3rem;
        --h1-padding-top: 5rem;

        /* Intro text styling */
        --typography-intro-p: 1.4rem;
        --intro-p-line-height: 2.3rem;
        --intro-padding: 8rem;

        /* Reading titles */
        --typography-h3: 6rem;
        --h3-line-height: 4rem;
        --h3-padding: 1.8rem;

        /* Coloured Boxes */
        --about-padding-top: 4rem;
        --about-margin-top: -3rem;

        /* Author small */
        --author-p: 1.5rem;
        --author-small-padding: 1.3rem;
        --author-small-margin: 1.3rem;
        --author-small-left: 1rem;
    }
}