a {
    color: black;
}

.nav-link-red:hover {
    color: var(--red);
}

.nav-link-yellow:hover {
    color: var(--yellow);
}

.nav-link-blue:hover {
    color: var(--blue);
}

h1 {
    align-items: center;
    text-align: center;

    padding-top: calc(4 * var(--margin));
    padding-bottom: calc(4 * var(--margin));
}

article {
    padding-top: var(--article-padding);
    padding-bottom: var(--article-padding);
}

.maintitle-index {
    background: black
}

.intro {
    background-color: #F0E6D3;
    
    padding-top: var(--article-padding);
    padding-bottom: var(--article-padding);
}

.readings {
    margin-bottom: var(--readings-margin-bottom);
}

/* Readings Chosen Section*/
.selected-readings {
    background-color: black;
}

/* Title of Each Article */
h3 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: var(--typography-h3);
    font-weight: 800;
    line-height: var(--h3-line-height);

    padding-left: var(--h3-padding);
}

.reading-link {
    color: white;
}

.reading-link:hover {
    /* font-family: 'Times New Roman', serif; */
    font-style: italic;
    text-decoration: underline;
}

.about-red,
.about-blue,
.about-yellow {
    padding-top: var(--about-padding-top);
    margin-top: var(--about-margin-top);
}

.about-red {
    background-color: var(--red);
    padding-left: var(--context-padding);
}

.about-yellow {
    background-color: var(--yellow);
}

.about-blue {
    background-color: var(--blue);
}

/* Blurb about each reading */
.selected-readings p {
    font-size: var(--context-typography);
    color: white;

    padding-top: var(--context-padding-top);
    padding-left: var(--context-padding);
    padding-right: var(--context-padding);
    line-height: var(--typography-base-line-height);
}

.context {
    margin-top: var(--context-margin-top);
}

/* Mobile */
@media (min-width: 375px) {
    :root {        
        /* Page title */
        --typography-h1: 5rem;
        --h1-line-height: 4.5rem;
        --h1-margin: 4rem;

        /* Articles */
        --article-padding: 2rem;
        
        /* Space between articles */
        --readings-margin-bottom: 3rem;

        /* Reading titles */
        --typography-h3: 3.5rem;
        --h3-line-height: 3.5rem;
        --h3-padding: 1rem;

        /* Author small */
        --author-small-padding: 1rem;
        --author-small-margin: 1rem;
        --author-small-left: 3rem;

        --about-padding-top: 6rem;
        --about-margin-top: -5rem;
    }

    .about-red,
    .about-yellow,
    .about-blue {
        max-width: 80vw;
        margin-left: 10vw;
    }

}

@media (min-width: 500px) {
   
}