/* Mobile */
@media (min-width: 375px) {
    .index {
        margin-left: calc(2 * var(--margin));
        margin-right: calc(2 * var(--margin));
    }
    
    h3 {
        max-width: 90vw;
        padding-top: var(--gutter);
        padding-bottom: var(--gutter);
        padding-left: calc(2 * var(--gutter));
        padding-right: var(--gutter); 
        margin-bottom: calc(2 * var(--gutter));
    }

    .reading {
        font-size: var(--typography-h3);
    }

    .about > p {
        font-size: var(--typography-base);
        line-height: calc(1.5 * var(--typography-base));
    }
}

@media (min-width: 500px) {
    .index {
        display: flex;
        max-width: 70vw;
        align-items: center;
        justify-content: center;
    }

    .about > p {
        font-size: var(--typography-base);
        line-height: calc(1.5 * var(--typography-base));
    }
}

@media (min-width: 1200px) {
    .maintitle {
        max-width: 70vw;
    }
}

.maintitle {
    margin-bottom: var(--typography-h1);
    color: black;
}

.reading {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    text-align: center;
}

.red, .yellow,
.blue {
    color: white;
    border: 3px transparent;
    border-style: solid;
}

.red {
    background-color: #F13028;
    rotate: -2deg;
}

.red:hover {
    background-color: #F0E6D3;
    color: #F13028;
    border: 3px #F13028;
    border-style: solid;
}

.yellow {
    background-color: #E59801;
    rotate: 2deg;
}

.yellow:hover {
    background-color: #F0E6D3;
    color: #E59801;
    border: 3px #E59801;
    border-style: solid;
}

.blue {
    background-color: #0A95FB;
    rotate: -2deg;
}

.blue:hover {
    background-color: #F0E6D3;
    color: #0A95FB;
    border: 3px #0A95FB;
    border-style: solid;
}

.index {
    align-items: center;
}

li {
    padding-top: var(--typography-h2);
}

.about > p {
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
}

.about {
    border: 2px black;
    border-style: solid;
    padding-top: calc(2.5 * var(--typography-h2));
    padding-bottom: calc(1.3 * var(--typography-base));
    padding-left: calc(1.3 * var(--typography-base));
    padding-right: calc(1.3 * var(--typography-base));
    margin-top: calc(-3 * var(--margin));
    margin-bottom: calc(2 * var(--margin));
    margin-left: calc(-1 * var(--margin));
    margin-right: calc(-1 * var(--margin));
}