.maintitle {
    margin-bottom: var(--typography-h1);
}

.reading {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 600;
    color: white;
    font-size: var(--typography-h2);
    text-transform: uppercase;
}

.index {
    align: center;
    margin-left: calc(2 * var(--margin));
}

li {
    padding-top: var(--typography-h2);
}

li > p {
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    border: 2px black;
    border-style: solid;
    padding-top: calc(1.3 * var(--typography-h2));
    padding-bottom: calc(1.3 * var(--typography-base));
    padding-left: calc(1.3 * var(--typography-base));
    padding-right: calc(1.3 * var(--typography-base));
    margin-top: calc(-2 * var(--margin));
    margin-bottom: calc(2 * var(--margin));
}

h3 {
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    padding-left: calc(2 * var(--gutter));
    padding-right: var(--gutter); 
    margin-bottom: calc(2 * var(--gutter));
    text-align: center;
    max-width: 90vw;
}

.red {
    background-color: #F13028;
    rotate: -3deg;
}

.yellow {
    background-color: #E59801;
    rotate: 3deg;
}

.blue {
    background-color: #0A95FB;
    rotate: -3deg;
}