a:not([href="#"][class="original"]) {
    font-family: 'Crimson Pro', serif;
    font-size: var(--typography-a);
    font-style: italic;
    font-weight: 500;
}

a:not([href="#"][class="original"]):hover {
    text-decoration: underline;
}