@media (min-width: 375px) {
    a:not([href="#"][class="original"]) {
        font-size: var(--typography-a);
    }
}

@media (min-width: 375px) {
    a:not([href="#"][class="original"]) {
        font-size: calc(1.2 * var(--typography-a));
    }
}

h1 {
    color: #F13028;
}

article {
    margin-left: var(--margin);
    margin-right: var(--margin);
}

a:not([href="#"][class="original"]) {
    font-family: 'Crimson Pro', serif;
    font-size: var(--typography-a);
    font-style: italic;
    font-weight: 500;
}

a:not([href="#"][class="original"]):hover {
    text-decoration: underline;
}