/* entire web page */
body {
    background-color: var(--blue);
}

.nav-link-blue {
    color: var(--blue);
}

h1 {
    padding-top: calc(2 * var(--margin));
}

/* Mobile*/
@media (min-width: 350px) {
    :root {
        /* Article title */
        --typography-h1: 6rem;
        --h1-line-height: 5rem;
        --h1-margin: 4rem;

        /* Author & OG article */
        --author-padding-top: 21rem;
        --author-padding-bottom: 2rem;
        --author-margin-top: -20rem;
    }

    /* Author's name & publishing date */
    .author {
        padding-left: var(--margin);
        max-width: 60vw;
    }
}

@media (min-width: 500px) {
    :root {
        /* Article title */
        --typography-h1: 5.6rem;
        --h1-line-height: 6rem;
    }

    .author {
        padding-top: 24rem;
        padding-left: var(--margin);
        margin-top: -23rem;
    }
}

@media (min-width: 630px) {
    :root {
        /* Article title*/
        --typography-h1: 7rem;
        --h1-line-height: 6rem;
   }

   h1 {
        max-width: 100vw;
   }
    
    .author {
        padding-top: 28rem;
        padding-bottom: var(--margin);
        padding-left: calc(1 * var(--margin));
        margin-top: -25rem;
    }

    .solo-readings {
        margin-left: 30vw;
    }
}

@media (min-width: 800px) {   
    :root {
        /* Article title*/
        --typography-h1: 8rem;
        --h1-line-height: 7rem;
   } 

   .solo-readings {
        margin-left: 13vw;
    }
}

@media (min-width: 960px) {
    :root {
        --typography-h1: 10rem;
        --h1-line-height: 8rem;
    }
    
    .author {
        padding-top: 30rem;
        padding-left: calc(1 * var(--margin));
        margin-top: -28rem;
    }

    .solo-readings {
        margin-left: 15vw;
    }
}

@media (min-width: 1200px) {
    :root {
        --typography-h1: 10rem;
        --h1-line-height: 9rem;
    }

    h1 {
        max-width: 100vw;
    }

    .author {
        padding-top: 35rem;
        padding-left: 2rem;
        margin-top: -33rem;
    }

    .solo-readings {
        margin-left: 22vw;
    }
}